{% if site.data.skills %}
<section class="skills-section section no-print">

  <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>

  <div class="skillset">

    {% for skillGroup in site.data.skills %}
      {% for skill in skillGroup.skills %}
      <div class="item">

        <h3 class="level-title">{{ skill.name }}</h3>

        <div class="level-bar">
          <div class="level-bar-inner" data-level="{{ skill.level }}%">
          </div>
        </div><!--//level-bar-->

      </div><!--//item-->
      {% endfor %}
    {% endfor %}

  </div>

</section><!--//skills-section-->

<section class="skills-section section no-screen">

  <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>

  <ul class="skillset-print-version">
    {% for skillGroup in site.data.skills %}
    <li class="skill-group-name">
      <h5>{{ skillGroup.name }}:&nbsp;</h5>
      {% for skill in skillGroup.skills %}
      {% if skill.level >= 80 %}
      <span class="highlight">{{skill.name}}</span>{% if forloop.last == false %}, {% endif %}
      {% else %}
      {{skill.name}}{% if forloop.last == false %}, {% endif %}
      {% endif %}
      {% endfor %}
    </li>
    {% endfor %}
  </ul>

</section><!--//skills-section-->
{% endif %}
