{% if site.data.skills %}
<section class="skills-section section no-print">

  <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>

  <div class="skillset">

    {% for skillGroup in site.data.skills %}
      {% for skill in skillGroup.skills %}
      <div class="item">

        <h3 class="level-title">{{ skill.name }}</h3>

        <div class="level-bar">
          <div class="level-bar-inner" data-level="{{ skill.level }}%">
          </div>
        </div><!--//level-bar-->

      </div><!--//item-->
      {% endfor %}
    {% endfor %}

  </div>

</section><!--//skills-section-->

<section class="skills-section section no-screen">

  <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>

  <ul class="skillset-print-version">
    {% for skillGroup in site.data.skills %}
    <li class="skill-group-name">
      <h5>{{ skillGroup.name }}</h5>
    </li>
    <ul>
      {% for skill in skillGroup.skills %}
      <li class="item level-title">
        {% if skill.level >= 80 %}
        <b>{{ skill.name }}</b>
        {% else %}
        {{ skill.name }}
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
  </ul>

</section><!--//skills-section-->
{% endif %}
